# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
.dart_tool/


# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


**/ios/Flutter/tmp.xcconfig
/.fvm/*
/.fvm/**
/.fvm/
!/.fvm/flutter_sdk/
!/.fvm/fvm_config.json

ios/.envfile
ios/Podfile.lock

# .vscode
pubspec.lock
upload-keystore.jks
.fvm/fvm_config.json
.gitignore
/coverage/

###
example/build/**
example/pubspec.lock
example/macos/**
example/android/**
example/ios/**

android/**
ios/**
macos/**
web/**
example/.firebase/hosting.LmZpcmViYXNlL2V4LWtpdC9ob3N0aW5n.cache
example/.firebase/ex-kit/hosting/.last_build_id
example/.firebase/ex-kit/hosting/favicon.png
example/.firebase/ex-kit/hosting/flutter_service_worker.js
example/.firebase/ex-kit/hosting/flutter.js
example/.firebase/ex-kit/hosting/index.html
example/.firebase/ex-kit/hosting/main.dart.js
example/.firebase/ex-kit/hosting/manifest.json
example/.firebase/ex-kit/hosting/version.json
example/.firebase/ex-kit/hosting/assets/AssetManifest.bin
example/.firebase/ex-kit/hosting/assets/AssetManifest.bin.json
example/.firebase/ex-kit/hosting/assets/AssetManifest.json
example/.firebase/ex-kit/hosting/assets/FontManifest.json
example/.firebase/ex-kit/hosting/assets/NOTICES
example/.firebase/ex-kit/hosting/assets/fonts/MaterialIcons-Regular.otf
example/.firebase/ex-kit/hosting/assets/shaders/ink_sparkle.frag
example/.firebase/ex-kit/hosting/canvaskit/canvaskit.js
example/.firebase/ex-kit/hosting/canvaskit/canvaskit.wasm
example/.firebase/ex-kit/hosting/canvaskit/skwasm.js
example/.firebase/ex-kit/hosting/canvaskit/skwasm.wasm
example/.firebase/ex-kit/hosting/canvaskit/skwasm.worker.js
example/.firebase/ex-kit/hosting/canvaskit/chromium/canvaskit.js
example/.firebase/ex-kit/hosting/canvaskit/chromium/canvaskit.wasm
example/.firebase/ex-kit/hosting/icons/Icon-192.png
example/.firebase/ex-kit/hosting/icons/Icon-512.png
example/.firebase/ex-kit/hosting/icons/Icon-maskable-192.png
example/.firebase/ex-kit/hosting/icons/Icon-maskable-512.png
