# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
.dart_tool/


# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


**/ios/Flutter/tmp.xcconfig
/.fvm/*
/.fvm/**
/.fvm/
!/.fvm/flutter_sdk/
!/.fvm/fvm_config.json

ios/.envfile
ios/Podfile.lock

# .vscode
pubspec.lock
upload-keystore.jks
.fvm/fvm_config.json
.gitignore
/coverage/
example/build/
example/build/*
example/build/**
example/pubspec.lock
example/macos/
example/macos/*
example/macos/**
example/macos/Podfile
example/macos/Podfile.lock
example/macos/Flutter/ephemeral/flutter_export_environment.sh
example/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
example/macos/Flutter/ephemeral/FlutterMacOS.podspec
example/macos/Flutter/ephemeral/.symlinks/plugins/path_provider_macos
example/macos/Flutter/ephemeral/.symlinks/plugins/sqflite
example/macos/Pods/Local Podspecs/FlutterMacOS.podspec.json
example/macos/Pods/Pods.xcodeproj/project.pbxproj
example/macos/Pods/Pods.xcodeproj/xcuserdata/Aditya.Pratama.xcuserdatad/xcschemes/path_provider_macos.xcscheme
example/macos/Pods/Pods.xcodeproj/xcuserdata/Aditya.Pratama.xcuserdatad/xcschemes/xcschememanagement.plist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-acknowledgements.markdown
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-acknowledgements.plist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Debug-input-files.xcfilelist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Debug-output-files.xcfilelist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Profile-input-files.xcfilelist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Profile-output-files.xcfilelist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Release-input-files.xcfilelist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Release-output-files.xcfilelist
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks.sh
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig
example/macos/Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig
example/macos/Pods/Target Support Files/path_provider_macos/path_provider_macos-dummy.m
example/macos/Pods/Target Support Files/path_provider_macos/path_provider_macos-Info.plist
example/macos/Pods/Target Support Files/path_provider_macos/path_provider_macos-prefix.pch
example/macos/Pods/Target Support Files/path_provider_macos/path_provider_macos-umbrella.h
example/macos/Pods/Target Support Files/path_provider_macos/path_provider_macos.debug.xcconfig
example/macos/Pods/Target Support Files/path_provider_macos/path_provider_macos.modulemap
example/macos/Pods/Target Support Files/path_provider_macos/path_provider_macos.release.xcconfig
example/macos/Pods/Target Support Files/sqflite/sqflite-umbrella.h
example/macos/Runner.xcodeproj/project.pbxproj
